<div class="flex items-center justify-between">
  <h1 class="text-2xl font-semibold text-slate-900">Import Templates</h1>
  <%= link_to "New template", new_import_template_path, class: "rounded bg-emerald-600 px-4 py-2 text-white" %>
</div>

<table class="mt-6 w-full text-left text-sm">
  <thead>
    <tr class="text-slate-500">
      <th class="py-2">Name</th>
      <th class="py-2">Delimiter</th>
      <th class="py-2">Columns mapped</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @import_templates.each do |template| %>
      <tr class="border-t border-slate-100">
        <td class="py-3"><%= template.name %></td>
        <td class="py-3"><%= template.delimiter %></td>
        <td class="py-3"><%= template.mapping.keys.size %></td>
        <td class="py-3 text-right">
          <%= link_to "View", template, class: "text-emerald-600" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
